@import "mixins";

.sec_first{
    background: url(../img/1.jpg) center no-repeat;
    background-size: cover;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .head__logo{
        width: 331px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo{
            width: 276px;
            height: 109px;
            background: url(../img/logo.png) center no-repeat;
            background-size: cover;
        }

        .logo__text{
            margin-top: 55px;
            text-align: center;
            @include text(#333333, Catamaran, 36px, 400, 3.6px)
        }
    }

    .reg{
        background: #c0c7c7;
        
        .reg__tabs{
            height: 58px;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;

            label{
                @include text(#2e4343, Catamaran, 18px, 400, 1.8px)
            }

            .tab{
                text-align: center;
                line-height: 60px;
            }

            .active{
                background: #2e3e40;
                color: #e6e8e8;
            }  
        }
    }

    .head__reg{
        max-width: 387px;
        max-height: 365px;;
        background: #2e3e40;
        padding: 23px 13px 34px;

        display: flex;
        flex-direction: column;

        .tab{
            @include text(#ffffff, Catamaran, 18px, 400, 1.8px);
        }

        

        .tab__form{
            max-height: 365px;
            height: 100%;
            width: 100%;
            background: #2e3e40;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 15px;

            .form__text{
                @include text(#ffffff, Catamaran, 16px, 400, 1.6px);
                margin: 5px 0 5px;
            }

            .input{
                margin-bottom: 15px;
                min-height: 40px;
                @include text(#333333, Catamaran, 18px, 400, 1.8px)
            }

            .input_code{
                display: none;
            }

            .input__form_2{
                width: 387px;
            }


        .button__form{
            min-height: 40px;
            background: #ff6600;
            @include text(#333333, "Catamaran - black", 30px, 900, 3px);
            border: none;
            outline: none;
            }
        }

        .form_two{
            display: none;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 23px;
        }

        .active{
            display: flex;
        }
        .switch[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }
        
        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 40px;
            height: 19px;
            background: #ffffff;
            border-radius: 100px;
            position: relative;
            margin-bottom: 10px;
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 5px;
            width: 15px;
            height: 14px;
            background: grey;
            border-radius: 90px;
            transition: 0.2s;
        }
        

        .switch:checked + label {
            background: #c4c7c7;
        }
        
        .switch:checked + label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }

        .switch:checked ~ .input {
            display: block;
        }
        
        label:active:after {
            width: 30px;
        }
    }
}