@media(max-width: 800px){
    .sec_first{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo__text{
        display: none;
    }

    .how_it{
        flex-wrap: wrap;
    }
}

@media(max-width: 500px){
    .footer__logo{
        display: none;
    }

    .footer__text{
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media(max-width: 420px){
    .input__form_2{
        width: 100% !important;
    }
}